@tailwind base;
@tailwind components;
@tailwind utilities;



.user-main{
  background-color: rgb(255, 241, 239);
  color: #3b3b3b;
  text-align: right;
}

.user-title{
  font-weight: bold;
}

.ai-main{
  background-color: #ecf0f1;
  color: #333;
}

.ai-title{
  font-weight: bold;
}
.ai-link{
  /*color: #007BFF; /* Set the link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the text bold, if desired */
}
.ai-link:hover{
  text-decoration: underline;
}



.box{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.source {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    background-color: whitesmoke;
    text-align: center;
    margin: 1rem;
  }

/*MAIN CSS*/
html
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* LAYOUT CLASSES*/
.chat-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.chat-header {
    background-color: hsl(0, 67%, 49%);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.chat-body {
    padding: 15px;
    overflow-y: scroll;
    max-height: 300px;
}

.user-message, .bot-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: rgb(255, 241, 239);
    color: #3b3b3b;
    text-align: right;
}

.bot-message {
    background-color: #ecf0f1;
    color: #333;
}

.chat-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}
