@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.user-main{
/* CSS styles for the user role */
padding:10px
}
.user_small{
  /* CSS styles for the user role */
  color: blue;
  padding:10px
}
.user-border{
  background-color: lightblue;
  border: 10px;
  border-radius: 10px;
  margin: 8px;
  padding:8px;
}


.ai-main {
  /* CSS styles for the AI role */
  color: red;

}
.ai-small {
  /* CSS styles for the AI role */
  color: red;
}

.ai-border{
  background-color: lightgreen;
  border: 10px;
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
}

.box{
  border: 2px;
  padding: 5px;
  overflow-y: scroll;
}

.source {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  background-color: whitesmoke;
  text-align: center;
  margin: 1rem;
}
